{
    "extends":"eslint:recommended",
    //"parser":"babel-eslint",
    "parserOptions":{
        "ecmaVersion":6,
        "sourceType":"module",
        "requireConfigFile": false
    },
    "env":{
        "node":true,
        "browser":true
    }
}